{% extends 'layout.html' %}
{% load crispy_forms_tags %}


{% block content %}
     <div class="container">
        <div class="jumbotron">
            <h2> {% if team %}
                    Edit Team
            {% else %}  Create new team {% endif %} </h2>
            <p></p>
        </div>

    <form action="  {% if team %} {% url 'teams:update' team.id %} {% else %} {% url 'teams:create' %} {% endif %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

        {{ form|crispy }}

        <input type="submit" value="{% if team %}Update Team{% else %} Create Team {% endif %}">
        <a href="{% url 'teams:list' %}" class="btn btn-dark">Cancel</a>
    </form>

     </div>


{% endblock %}