{% extends 'layout.html' %}




{% block content %}



    <div class="container">
        <div class="mt-5">
            <h2 class="text-center">LIST OF TEAMS</h2>

        </div>
        <div class="teams mt-5">
            <div class="row">
                {% for team in teams %}
                    <div class="col-3">
                        <div class="card">
                            {% if team == request.user.player.team %}
                                <div class="badge badge-danger">You own this team</div>
                            {% endif %}
                            <img src="{{ team.logo.url }}" class="card-img-top" alt="">
                            <div class="card-body">
                                <h2>{{ team.name }}</h2>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of the card's content.</p>
                                <a href="{% url 'teams:show' team.id %}" class="card-link">View Details</a>
                            </div>

                        </div>
                    </div>


                {% empty %}
                    <div class="col-12 text-center">
                        <p class="mx-auto alert alert-info"> You haven't created <b>team</b> yet, click create a new <b>team</b>
                            below</p>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% if user.user_type == 'team_leader' and not user.player.has_team %}


            <div class="row mt-2 mb-4">
            <div class="col-12">
            <p class="alert alert-danger">You didn't create your own team!, please create a team to enjoy website services</p>
                <div class="text-center">
                    <a href="{% url 'teams:create' %}" class="btn btn-primary">Create your team</a>
                </div>
            </div>
        {% endif %}

        </div>
    </div>






{% endblock %}