{% extends 'layout.html' %}
{% load crispy_forms_tags widget_tweaks %}


{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-12 jumbotron">
                <div class="mt-5 ">
                    <h2 class="header-title text-center">Edit Profile  </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-2 col-8">
                <div class="form mt-5">
                    <form action="{% url 'accounts:edit_profile' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% for hidden in user_form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}

                        {% for field in user_form.visible_fields %}
                            {% if field.label == 'Date of birth' %}
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    <input id="{{ field.id_for_label }}" value="{{ user.date_of_birth|date:'m/d/Y' }}" class="form-control" type="date"
                                           name="date_of_birth">
                                    {% for error in field.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% elif field.label == 'Photo' %}
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    <input id="{{ field.id_for_label }}" class="form-control-file" type="file"
                                           name="photo">
                                    {% for error in field.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {% render_field field class='form-control' %}
                                    {% for error in field.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% if additional_form %}
                            {{ additional_form|crispy }}
                        {% endif %}

                        <input type="submit" value="Save changes">
                        <a href="{% url 'accounts:profile' %} " class="btn btn-dark"> Cancel</a>

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}