 body{
    font-family:Sans-serif;
    background-image: url("static/website/images/iBB.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }



    
 
    