{% extends 'layout.html' %}

{% block css %}
    <style>
        .vh-100 {
            height: 100vh;
            min-height: 100vh;
        }
    </style>
{% endblock %}

{% block content %}



    <div class="container">
        <div class="row vh-100 align-items-center">
            <div class="col text-center">
                <div class="content">
                    <h1>Something went wrong!</h1>
                    <p>{{ error }}</p>
                    <a class="btn btn-outline-primary mt-4" href="/">Back To Home</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}