{% extends 'layout.html' %}
{% load static %}


{% block title %}
    Contact
{% endblock %}


{% block content %}

<div class="head">
    <div class="center">Contact Information</div>
</div>
<div class="HeadCont">
    <h1 style="padding-top: 80px;">OUR CONTACT INFORMATION</h1>
    <hr style="width:60%;">
</div>
<div class="infoC">
    <div class="Adress">
        <img src="{% static 'website/images/address.png' %}" style="width:70px;height:70px;float:left;margin-right:10px;">
        <h3 style="padding:10px;">Local League 2353,alhssa,<p style="font-size:14px;"> Saudi Arabia. TX 2324.</p></h3>
        <br> <br>
    </div>
    <div class="phone">
        <img src="{% static 'website/images/mobile-phone.png' %}" style="width:70px;height:70px;float:left;margin-right:10px;">
        <h4>Phone: +966-54-654-3454<p  style="font-size:14px;">Fax: 5437437<br>Email: localleague@gmail.com</p></h4>
    </div>
</div>
<div class="HQ">
<div class="Q">
    <div>
        <p style="font-size:30px;padding-right:100px;color:#fff">Have a question, comment, or suggestion?<br>Let us know!</p>
    </div>
    <input type="email" placeholder="Email Address">
    <button class="Subscribe">Send</button>
</div>
</div>

{% endblock %}


{% block css %}

<style>
    .Quick{
    justify-content: center;
    align-items: center;
    background-color:#000;
    float:left;
    margin-left: -1%;
    margin-right: -1%;
    display:flex;
    }
    h2{
    color:#fff;
    padding:10px;
    }
    ul{
    list-style-type: none;
    font-color: #fff;
    text-align:left;
    }
    li{
    }
    input[type=text]{
    width:100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size:16px;
    padding:5px;
    }
    input[type=submit]{
    width:30%;
    height: 40px;
    border-radius: 3px;
    border:transparent;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size:16px;
    color:#fff;
    background-color: #da8600;
    padding:5px;
    }


</style>
<style>
    body{
    font-family:Sans-serif;
    }
    .head{
    display: flex;
    justify-content: center;
    text-align:center;
    z-index: -1;
    min-height: 500px;
    background: linear-gradient(0deg, rgba(1, 1, 1, 0.5), rgba(1, 1, 1, 0.5)), url({% static 'website/images/111.jpeg' %}) no-repeat scroll;
    display: flex;
    background-size: cover;
    margin-left: -1%;
    margin-right: -1%;
    margin-top: -1%;
    }
     .center{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 80px;
    transform: translate(-50%, -100%);
    }
    .HeadCont{
    text-align:center;
    }
    .infoC{
    margin:30px;
    }
    .Subscribe {
    padding:5px 20px;
    color:#fff;
    font-size: 20px;
    border-radius: 5px;
    border: transparent;
    background-color: #496F38;
    }
    input[type=email]{
    width:20%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size:16px;
    padding:5px;
    margin-right:40px;
    }
    .Q{
    width:90%;
    background-color:#DE8A00;
    background-size:90% auto;
    margin-top:50px;
    margin-bottom:-2%;
    justify-content: center;
    align-items: center;
    display:flex;
    }
    .HQ{
    justify-content: center;
    align-items: center;
    display:flex;
    }
</style>
<style>
    .navbar{
    position:absolute;
    width:100%;
    left:0;
    padding:20px;
    }
    a{
    padding:10px;
    color: #fff;
    text-decoration: none;
    }
    a:hover{
    color: #FFC300;
    }

</style>

{% endblock %}