{% extends 'layout.html' %}

{% block content %}

    <div class="container mb-5">

        <div class="row">
            <div class="col-12"></div>
            <div class="content mt-5 mx-auto">
                <div class="card-box">
                    <div class="card-header">
                        <h2>Pay using Paypal</h2>
                    </div>
                    <div class="card-body">

                        <div class="ml-5">
                            {{ form.render }}
                        </div>
                    </div>
                </div>

            </div>

        </div>


    </div>



{% endblock %}